/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    background-color: rgb(239, 251, 171);
  }
  
  section {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  h1 {
    font-family: 'Electrolize', sans-serif;
    font-size: 2.5rem;
  }

/* HERO */
  
  .hero {
    background-image: url('../img/Background1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    min-height: 1900px;
    height: 100vh;
    position: relative;
    padding-top: 80px;
  }

    #bg-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px; 
    object-fit: cover;
    z-index: 0;
    opacity: 0.1;
    pointer-events: none;

    /* Efecto de fade-out hacia abajo */
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }

  
  
  .content {
    font-family: 'Electrolize', sans-serif;
    color: white;
    text-align: center;
    margin-top: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  
  .profile-photo {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /*COMIENZA ABOUT ENCOLUMNADO */

  .about-title {
    display: none;
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.skills-title {
    display: none;
    color: white;
    font-size: 2.2rem;
    margin-bottom: 30px;
    text-decoration: underline;
    text-underline-offset: 6px;
}

  .about-section {
    margin-top: 730px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 60px;
    padding: 0 40px;
    flex-wrap: wrap;
  }
  
  
  .about-top {
    width: 100%;
    margin-bottom: -20px; 
    margin-top: -300px; 
  }
  
  
  .about-top h1 {
    font-size: 2.3rem;
    color: #235631;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 6px; 
  }

  .about-title-img {
    display: block;
    padding-left: -100px;
    max-width: 70%;
    height: auto;
    opacity: 1;
  }

  .about-section {
    background-color: transparent; 
  }
  
  
  .about-left {
    text-align: left;
    align-items: center;
    display: flex;
    position: relative;
    left: -50px; 
  }
  

  .about-left h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .about-left .profile-photo {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
  }

/*WRAPPER CIRCULOS ALREDOR DE LA FOTO */
  .photo-wrapper {
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .photo-wrapper::before,
  .photo-wrapper::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 2px solid #235631;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  
  
  .photo-wrapper::before {
    width: 410px;
    height: 410px;
    border-width: 2px;
  }
  
  .photo-wrapper::after {
    width: 440px;
    height: 440px;
    border-width: 4px;
  }
  
  /*FIN WRAPPER CIRCULOS ALREDOR DE LA FOTO */
  
  .about-right {
    max-width: 800px;
    color: #000;
    text-align: justify;
  }
  
  .about-right h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: white;
    text-align: center;
  }
  
  .about-right h2 {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #111;
  }

  .about-verde {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-verde h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 40px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 6px; 
  }
  /*FIN DE ABOUT ENCOLUMNADO */
  

   /*ANIMACIONES DE HOLA SOY GONZALO BONDAR DATA ANALYST */

    /* Colores desde clases */
  .saludo {
    position:relative;
    color: rgb(0, 0, 0);
    z-index:999;

  }

  .nombre {
    position:relative;
    color: rgba(253, 203, 3, 0.864);
     z-index:999;

  }

  .rol {
    position:relative;
    color: rgb(0, 0, 0);
     z-index:999;

  }

  .saludo.fade-in {
      font-size: 2rem !important;
      color: black !important;
    }
    
    .nombre.typewriter {
      font-size: 3.5rem !important;
      color: rgba(213, 171, 0, 0.864) !important;
    }
    
    .rol.slide-up {
      font-size: 2rem !important;
      color: black !important;
    }
    

  /* Fade-in */
  .fade-in {
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .typewriter {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      border-right: 2px solid rgba(213, 171, 0, 0.864);
      width: 0;
      animation: typing 1.4s steps(24, end) forwards, blink-caret 0.5s step-end 4;
      animation-fill-mode: forwards;
    }
    
    .typewriter.done {
      border-right: none;
    }
    
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 21ch; 
      }
    }
    
    @keyframes blink-caret {
      0%, 100% {
        border-color: transparent;
      }
      50% {
        border-color: rgba(213, 171, 0, 0.864);
      }
    }
    
  
  /* Slide-up */
  .slide-up {
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s ease-out 1.4s forwards;
  }

  @keyframes slideUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /*FIN ANIMACIONES DE HERO */


  /*COMIENZA SEGMENTO SKILLS (VERDE) */
  
  .verde {
    background-image: url('../img/Background2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; 
    background-attachment: scroll;
    min-height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
  }
  

  
  .contenido-verde {
    max-width: 800px;
    margin: auto;
    font-size: 1.2rem;
    color: white;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-width: 1000px;
    width: 100%;
    margin: -40px 0 0 250px;
  }
  
  
  .skills-grid img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
  }

  .skill-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .skill-item img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .skill-item:hover img {
    transform: scale(1.1);
    filter: brightness(1.1);
  }

  /*COMIENZA MODULO CONTACTO*/

  .modulo4 {
    background-image: url('../img/Background3.png');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    padding: 80px 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;     
    text-align: center;
  }
  
  
  .contenido-modulo4 {
    max-width: 800px;
    margin: auto;
    font-size: 1.2rem;
    color: white;
  }


  .content h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  
  .content h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
  

  .contact-top {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .contact-label {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    margin-top: 20px; 
    font-size: 1rem;  
    color: black;
    text-align: center;
  }
  
  
  .contact-title {
    font-size: 2.5rem;
    color: #235631;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-bottom: 40px;
  }
  
  
  
  .contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    max-width: 720px;
    width: 100%;
    margin: auto;
    padding-bottom: 60px;
  }
  
  .contact-grid img {
    max-width: 100px; 
    height: auto;
    object-fit: contain;
    background-color: transparent;
    padding: 0;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
  }


  /*FOOTER */

  .footer {
    background-color: #235631;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 20px 10px;
    font-size: 0.8rem;
  }

  

  .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .contact-item:hover img {
    transform: scale(1.1);
    filter: brightness(1.1);
  }

  .contact-item-link {
    text-decoration: none;
    display: inline-block;
  }
  
  .contact-item-link .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mail-options {
    margin-top: 10px;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .mail-option-btn {
    background-color: #235631;
    font-family: 'Manrope', sans-serif;
    color: white;
    border: 2px solid white;
    height: 48px;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .mail-option-btn:hover {
    background-color: white;
    color: #235631;
    border-color: #235631;
  }
  
  #copy-message {
    margin-top: 16px;
    padding: 6px 12px;
    background-color: rgba(255, 255, 255, 0.85);
    color: #235631;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.95rem;
    opacity: 0;           
    transition: opacity 1s ease-in-out;
    pointer-events: none;  
  }
  

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-title {
    color:#ffffff !important;
    font-family: 'Electrolize',sans-serif;
    text-decoration: underline;
    text-underline-offset: 6px;  
  }
  
  .modal-content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 90%;
    max-width: 500px;
    padding: 30px 20px;
  
    border-radius: 20px;
    border: 2px solid #235631;
  
    /* Estilo 3D / Glass */
    backdrop-filter: blur(8px);
    background-color: rgba(76, 129, 85, 1);
    box-shadow:
      0 12px 25px rgba(0, 0, 0, 0.4),
      0 4px 10px rgba(0, 0, 0, 0.3),
      inset 0 3px 6px rgba(255, 255, 255, 0.2),
      inset 0 -3px 6px rgba(0, 0, 0, 0.3);
  
    text-align: center;
    color: white;
    font-family: 'Manrope', sans-serif;
  }
  
  
  .modal-content h2 {
    color: #fff;
    margin-bottom: 20px;
  }
  
  .modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: stretch;
    margin-top: 50px;

  }
  
 
.mail-option-btn {
    background-color: #235631;
    color: white;
    border: 2px solid white;
    padding: 12px 18px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease;
    box-shadow: 
      0 6px 10px rgba(0, 0, 0, 0.3),
      inset 0 -2px 4px rgba(255, 255, 255, 0.1),
      inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .mail-option-btn:hover {
    background-color: white;
    color: #235631;
    border-color: #235631;
    box-shadow: 
      0 8px 14px rgba(0, 0, 0, 0.4),
      inset 0 -2px 4px rgba(35, 86, 49, 0.2),
      inset 0 2px 4px rgba(255, 255, 255, 0.3);
  }

  .btn-icon {
    width: 40px;
    height: 40px;
    object-fit: contain; 
    flex-shrink: 0;
  }
  
  
  @keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }
  
  .close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  

  .skill-label {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .skill-item:hover .skill-label {
    opacity: 1;
  }
  

.cv-download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 16px;
  }
  
  .cv-button {
    background-color: #235631;
    color: white;
    border: 2px solid white;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: 600;
    margin-top: 60px; 
  }
  
  
  .cv-button:hover {
    background-color: white;
    color: #235631;
    border-color: #235631;
    box-shadow: 0 0 10px rgba(35, 86, 49, 0.3);
  }

  .about-section {
    align-items: center;
    position: relative;
  }
  
  .cta-wrapper {
    margin-top: 30px;
    position: absolute;
    bottom: -170px;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
  }
  
  
  .flecha {
    margin-top: 0px;
    width: 100px;
    height: auto;
  }

  .invite {
    text-align: center;
    font-family: 'Manrope', sans-serif;
    width: 100%;
    margin-top: 40px;
    margin-bottom: -30px; 
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #235631; 
      text-decoration-thickness: 3px; /

  }

  /* seccion proyectos */

.proyects {
  background-image: url('../img/Background5.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.proyects-top {
  width: 100%;
  margin-bottom: 40px;
}

.proyects-title {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 6px;
  margin-bottom: 60px;
}

.proyect-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  max-width: 900px;
  width: 100%;
  margin-bottom: 50px;
}

.proyect-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.proyect-item:hover {
  transform: scale(1.05);
}

.proyect-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  background-color: white;
  padding: 3px;
}

.proyect-label {
  font-family: 'Manrope', sans-serif;
  margin-top: 20px;
  font-size: 1.3rem;
  color:rgba(255, 255, 255, 0.864);
  font-weight: 700;
}

.proyect-item {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 86, 49, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.proyect-item:hover .overlay {
  opacity: 1;
}

.proyect-btn {
  background-color: #ffffff;
  color: #235631;
  min-width: 230px;
  justify-content: center;
  border: 2px solid #235631;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.2s;
}

.proyect-btn:hover {
  background-color: #235631;
  color: #ffffff;
  transform: scale(1.05);
}

.btn-icon {
  width: 20px;
  height: 20px;
}

.proyect-media {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
}

.proyect-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  background-color: white;
  padding: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 86, 49, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.proyect-media:hover .overlay {
  opacity: 1;
}

.proyect-description {
  font-family: 'Manrope', sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  max-width: 90%;
  margin-top: 10px;
  line-height: 1.5;
  text-align: center;
  margin-top: 20px;
}

.proyect-description strong {
  font-weight: bold;
  color: rgba(213, 171, 0, 0.864);
  font-size: 0.9rem;
}






/* MEDIA QUERIES */

@media (min-width: 1800px) {
    .hero {
      min-height: 2100px;
    }

    .about-section {
        margin-top: 800px;
      }

}
  

@media (max-width: 1400px) {
    .hero {
      min-height: 2300px;
    }
  
    .about-section {
      margin-top: 750px;
      flex-direction: column;
      align-items: center;
    }

    .about-right {
        text-align: left;
      }
    
    #bg-animation {
      height: 700px; /* Solo los primeros 800px */
    }

  
    .profile-photo {
      margin: auto;
      display: block;
    }
  
    .verde {
      background-image: url('../img/Background2Alt.png');
    }

    .proyects {
      background-image: url('../img/Background5Alt.png');
    }
  
    .skills-grid {
      margin: 0 auto;
      gap: 30px;
      max-width: 90%;
    }
  
    .skills-grid img {
      height: 120px;
    }

    .skills-title {
      display: block;
    }
    .about-title {
        display: block;
    }
    .about-title-img {
        display: none;
    }

    .hero {
      background-image: url('../img/Background1Alt.png');
    }
  }
  
  @media (max-width: 600px) {
    .hero {
      min-height: 1900px;
    }

    .about-section {
      margin-top: 700px;
      flex-direction: column;
      align-items: center;
    }

    .cv-download {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;

    }

  
    .flecha.izquierda, .flecha.derecha {
      display: none;
    }

    .profile-photo {
      margin: auto;
      display: block;
    }
  
    .about-title-img {
      max-width: 90%;
    }

    .about-right {
        text-align: left;
      }

    .about-right h2 {
        font-size: 0.9rem;
        line-height: 1.6;
        color: #111;
      }
  
    .verde {
      background-image: url('../img/Background2Alt.png');
    }
  
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
      gap: 20px;
      max-width: 95%;
    }
  
    .skills-grid img {
      height: 100px;
      padding: 8px;
    }

    .about-left {
        text-align: left;
        align-items: center;
        display: flex;
        position: relative;
      }
      
    
      .about-left h3 {
        font-size: 1.8rem;
        margin-bottom: 20px;
        color: #fff;
      }
      
      .about-left .profile-photo {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
      }
    
      .photo-wrapper {
        position: relative;
        width: 300px;
        height: 300px;
      }
      
      .photo-wrapper::before,
      .photo-wrapper::after {
        content: '';
        position: absolute;
        border-radius: 50%;
        border: 2px solid #235631;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    


      
      
      .photo-wrapper::before {
        width: 310px;
        height: 310px;
        border-width: 2px;
      }
      
      .photo-wrapper::after {
        width: 340px;
        height: 340px;
        border-width: 4px;
      }
  }


  
@media (max-width: 700px) {
    .saludo.fade-in {
      font-size: 1.5rem !important;
    }

    #bg-animation {
      height: 700px; 
    }

    .proyect-grid {
      grid-template-columns: 1fr;
    }
  
    .nombre.typewriter {
      font-size: 2.2rem !important;
    }
  
    .rol.slide-up {
      font-size: 1.5rem !important;
    }

    .about-left {
      justify-content: center;
      left: -25px; 
      width: 100%;
    }
  
    .photo-wrapper {
      margin: 0 auto;
    }
  }
  
  
  @media (max-width: 499px) {
    .saludo.fade-in {
      font-size: 1.2rem !important;
    }

    #bg-animation {
      height: 580px; 
    }

    
  
    .nombre.typewriter {
      font-size: 1.7rem !important;
    }
  
    .rol.slide-up {
      font-size: 1.2rem !important;
    }
  }


  @media (max-width: 400px) {
    .about-left {
      justify-content: center;
      left: -25px;
      width: 100%;
    }

    #bg-animation {
      height: 400px; 
    }
  
    .photo-wrapper {
      margin: 0 auto;
    }

  }

  @media (max-width: 600px) {


    #bg-animation {
      height: 570px; 
    }
  

  }

  @media (max-width: 362px) {
    .profile-photo,
    .about-left .profile-photo {
      width: 220px;
      height: 220px;
    }
  
    .photo-wrapper {
      width: 220px;
      height: 220px;
    }

     #bg-animation {
      height: 580px;
    }
  
    .photo-wrapper::before {
      width: 230px;
      height: 230px;
    }
  
    .photo-wrapper::after {
      width: 250px;
      height: 250px;
    }
  
    .about-right h1 {
      font-size: 1.4rem;
    }
  
    .about-right h2 {
      font-size: 0.8rem;
    }
  
    h1, .contact-title, .about-title, .skills-title {
      font-size: 1.6rem;
    }
  
    h2, .invite, .about-left h3 {
      font-size: 1rem;
      font-family: 'Manrope', sans-serif;
    }
  
    .contenido-verde,
    .contenido-modulo4 {
      font-size: 0.9rem;
    }
  
    .mail-option-btn {
      font-size: 0.85rem;
      padding: 10px 14px;
    }
  
    .cv-button {
      font-size: 0.85rem;
      padding: 10px 18px;
    }
  
    .cta-wrapper {
      width: 95%;
    }
  
    .skills-grid img {
      height: 80px;
      padding: 6px;
    }
  }
  
  
  
  